<div id="navigation">
    <div id="desktopnavigation">
      <div id="desktopnavigationlinkcontainer">
        <a href="{{@blog.url}}/about" alt="About MONTAG" class="desktopnavigationlink">About MONTAG</a>
        <a href="https://getgrover.com/de-en/how-it-works" alt="About Grover" class="desktopnavigationlink">About Grover</a>
        <a href="{{@blog.url}}/the-montag-newsletter/" alt="Newsletter" class="desktopnavigationlink">Newsletter</a>
        <a href="{{@blog.url}}/the-montage-podcast/" alt="Podcast" class="desktopnavigationlink">Podcast</a>
        <a id="issuesmenulink" href="#" alt="Issues" class="desktopnavigationlink">Issues</a>
      </div>
      <div id="issuesmenu" class="hidden">
        <div id="issuesmenulinkcontainer">
          <a href="{{@blog.url}}/issue1" alt="Issue 1" class="issueslink">Issue 1: TOGETHER TOMORROW</a>
          <a href="{{@blog.url}}/issue2" alt="Issue 2" class="issueslink">Issue 2: BETTER BODIES</a>
          <a href="{{@blog.url}}/issue3" alt="Issue 3" class="issueslink">Issue 3: CODING CREATIVITY</a>
          <a href="{{@blog.url}}/issue4" alt="Issue 4" class="issueslink">Issue 4: MODERN MONEY</a>
          <a href="{{@blog.url}}/issue5" alt="Issue 5" class="issueslink">Issue 5: WORK AND PLAY</a>
        </div>
    </div>
  </div>
</div>
