<!-- About MONTAG, about Grover, and issues  -->
<div id="nav-menu-container" class="disappeared">
  <div id="navmenu">
    <div id="aboutmontag">
      <div class="menulink">
        <a href="{{@blog.url}}/about" alt="About MONTAG">ABOUT MONTAG</a>
      </div>
    </div>
    <div id="aboutgrover">
      <div class="menulink">
        <a href="https://getgrover.com/de-en/how-it-works" alt="About Grover">ABOUT GROVER</a>
      </div>
    </div>
    <div id="printeditions">
      <div class="menulink">
        <a href="{{@blog.url}}/print-editions/" alt="Print Editions" style="color:#FF00FF;">PRINT EDITIONS</a>
      </div>
    </div>
    <div id="newsletter">
      <div class="menulink">
        <a href="{{@blog.url}}/the-montag-newsletter/" alt="Newsletter">NEWSLETTER</a>
      </div>
    </div>
    <div id="podcast">
      <div class="menulink">
        <a href="{{@blog.url}}/the-montage-podcast/" alt="Podcast">PODCAST</a>
      </div>
    </div>
    <div id="issue1">
      <div class="menulink">
        <a href="{{@blog.url}}/issue1" alt="Issue 1">ISSUE 1: TOGETHER TOMORROW</a>
      </div>
    </div>
    <div id="issue2">
      <div class="menulink">
        <a href="{{@blog.url}}/issue2" alt="Issue 2">ISSUE 2: BETTER BODIES</a>
      </div>
    </div>
    <div id="issue3">
      <div class="menulink">
        <a href="{{@blog.url}}/issue3" alt="Issue 3">ISSUE 3: CODING CREATIVITY</a>
      </div>
    </div>
    <div id="issue4">
      <div class="menulink">
        <a href="{{@blog.url}}/issue4" alt="Issue 4">ISSUE 4: MODERN MONEY</a>
      </div>
    </div>
    <!-- <div id="print">
      <div class="menulink">
        <a href="/print-editions" alt="Print Editions">PRINT EDITIONS</a>
      </div>
    </div> -->
  </div>
</div>
