{{!< default}}
{{> montagbanner}}
{{> logobar}}
{{> navbar}}
{{> menu}}
<div id="homepageposts">
  {{#foreach posts}}
  <div class="post-wrapper">
    <div class="post-info-wrapper" style="background-image:url({{img_url feature_image}});">
      <div class="post-info">
        <a href={{url}}>
          {{#if featured}}
            <div class="featured-post-title">
              {{title}}
            </div>
          {{else}}
            <div class="post-title">
              {{title}}
            </div>
          {{/if}}
        </a>
      </div>
    </div>
  </div>
  {{/foreach}}
</div>
{{pagination}}
